* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

body a {
  color: white;

}

a {
  text-decoration: none;
}
.padding-t-20 {
  padding-top: 20px;
}

.padding-btm-20 {
  padding-bottom: 20px;
}

.margin-t-30 {
  margin-top: 30px;
}

.list-unstyled {
  list-style: none;
}

.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 90px);
  background-color: beige;
}

.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  height: 100%;
  padding: 20px 20px 5px;
  background-color: black;
}

.logo img {
  width: 80%;
  height: auto;
}

.header-main-nav {
}

.header-main-nav ul li img {
  width: 10%;
  height: auto;
  margin-right: 5px;
  vertical-align: text-top;
}

.header-main-nav ul li {
  padding-bottom: 5px;
  line-height: 25px;
}

.main-main-nav {
  flex-grow: 2;
  overflow-y: scroll;
}

.create_playlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0 20px;
}

.main-main-nav .create_playlist .button_playlist {
  display: inline-block;
  text-decoration: none;
  padding: 8px 14px;
  font-size: 26px;
  color: black;
  margin-right: 5px;
  background-color: white;
}

.main-main-nav ul li {
  padding-bottom: 10px;
}

.footer-main-nav {

}

.footer-main-nav .install_app p {
  line-height: 30px;
  border-bottom: 1px solid white;
}

.footer-main-nav .install_app p span {
  margin-right: 5px;
  color: white;
}

.footer-main-nav .user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.footer-main-nav .user img {
  width: 25px;
  height: auto;
  margin-right: 10px;
  border-radius: 50%;
  background-color: grey;
  al
}

.footer-main-nav .user p {
  display: inline;

}





/* main */
.main-content {
  width: calc(100% - 220px);
  height: 100%;
  padding: 15px;
  overflow-y: scroll;
  background-color: #141922;
}

.call-to-action {
  position: fixed;
  top: 0;
  right:0;
  width: calc(100% - 220px);
  height: 90px;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 90px;

}

.call-to-action a {
  text-transform: uppercase;
  padding: 10px 35px;
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 700;
}

.discover_nav {
  margin-top: 90px;
  margin-bottom: 50px;
  text-align: center;
}

.discover_nav ul li {
  margin-right: 10px;
  display: inline;
  text-transform: uppercase;
  font-size: 12px;
}

.music_list {

}

.h2-section {
  margin-bottom: 20px;
}

.music_list h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

.music_list nav {
  display: flex;
  flex-direction: row;
}

.music_list .track {
  width: calc((100% / 6) - 24px);
  height: auto;
  margin-right: 20px;
}

.track img {
  width: 100%;
}

.track h6 {
  font-size: 16px;
  margin: 5px 0 5px;
}

.h2-section p,
.track p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
}
.border-rounded {
  border-radius: 50%;
}



footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: black;
}
